.App {
  text-align: center;
  background: #FF5F6D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

min-height:100vh;
overflow:hidden;
}
.add{
  width: '40%';
}
.cover{
  display:"flex";
  align-items:"center";
  justify-content:"center";
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (max-width:400px){
  .cover{
    display:flex;
    flex-direction:row;
  }
  .add{
    width:110px;
  }
}
